services:
  frontend:
    build:
      context: ./new-frontend
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    platform: linux/amd64
    develop:
      watch:
        - action: sync
          path: ./new-frontend
          target: /app
          ignore:
            - node_modules/
            - .nuxt/
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    restart: unless-stopped
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file: ./backend/.env
    restart: unless-stopped
    platform: linux/amd64
    ports:
      - "8000:8000"
    depends_on:
      influxdb:
        condition: service_healthy
      mysql:
        condition: service_healthy
      grafana:
        condition: service_started
      celery:
        condition: service_started
      redis:
        condition: service_started
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app

  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana.ini:/etc/grafana/grafana.ini:ro
      - ./grafana.ini:/usr/share/grafana/conf/custom.ini:ro
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_USERS_DEFAULT_ORG_ROLE=Viewer
    ports:
      - "3001:3000"
    restart: unless-stopped
  reverse-proxy:
    build:
      context: ./reverse-proxy
    restart: unless-stopped
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    depends_on:
      - frontend
      - backend

  minio:
    image: quay.io/minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_VOLUMES: /data
      MINIO_OPTS: "--console-address :9001"
    restart: unless-stopped
    volumes:
      - minio_data:/data

    command: minio server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
      start_interval: 5s

  minio-init:
    build:
      context: ./backend/initMinIO
      dockerfile: Dockerfile.dev
    env_file: ./backend/.env
    restart: on-failure:5
    depends_on:
      minio:
        condition: service_healthy
  prometheus:
    image: prom/prometheus:v3.1.0
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/tmp:/prometheus/tmp
    ports:
      - "9090:9090"
    environment:
      TZ: Asia/Taipei

  influxdb:
    image: influxdb:1.8
    ports:
      - "8086:8086"
    environment:
      INFLUXDB_DB: ${INFLUXDB_DB}
      INFLUXDB_ADMIN_USER: ${INFLUXDB_ADMIN_USER}
      INFLUXDB_ADMIN_PASSWORD: ${INFLUXDB_ADMIN_PASSWORD}
      INFLUXDB_HTTP_AUTH_ENABLED: "true"
    volumes:
      - influx_data:/var/lib/influxdb
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -fsSI http://127.0.0.1:8086/ping >/dev/null || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  log-fetcher:
    container_name: log-fetcher
    build:
      context: ./oss-fetcher
    depends_on:
      - influxdb
    environment:
      INFLUXDB_HOST: ${INFLUXDB_HOST}
      INFLUXDB_PORT: ${INFLUXDB_PORT}
      INFLUXDB_ADMIN_USER: ${INFLUXDB_ADMIN_USER}
      INFLUXDB_ADMIN_PASSWORD: ${INFLUXDB_ADMIN_PASSWORD}
      INFLUXDB_DB: ${INFLUXDB_DB}
    restart: unless-stopped

  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    command: http http://backend:8000 # 用服務名 backend
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"

  redis:
    image: redis:latest
    restart: unless-stopped
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    command: celery -A queues:exe_queue worker --concurrency=1 --loglevel=info
    env_file: ./backend/.env
    restart: unless-stopped
    platform: linux/amd64
    environment:
      PYTHONPATH: /app
    depends_on:
      influxdb:
        condition: service_healthy
      mysql:
        condition: service_healthy
      grafana:
        condition: service_started
      redis:
        condition: service_started
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
  nominatim:
    profiles:
      - no-internets
    image: mediagis/nominatim:5.1
    container_name: nominatim
    ports:
      - "8080:8080"
    environment:
      - PBF_URL=https://download.geofabrik.de/asia/taiwan-latest.osm.pbf
      - NOMINATIM_EXTRA_ARGS=--threads 4
    volumes:
      - nominatim_data:/var/lib/postgresql/16/main
    restart: unless-stopped

  tileserver:
    profiles:
      - no-internets
    image: maptiler/tileserver-gl
    container_name: tileserver
    expose:
      - "8080"
    volumes:
      - ./tiles:/data
    command: [
      "--public_url", "${TILE_SERVER_PUBLIC_URL}",
      "--port", "8080"
    ]
    restart: unless-stopped

volumes:
  mysql_data:
    driver: local
  minio_data:
    driver: local
  grafana-data:
    driver: local
  influx_data:
    driver: local
  redis_data:
    driver: local
  nominatim_data:
    driver: local
