apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: wisdon-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:latest
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: redis-data
              mountPath: /data
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
      volumes:
        - name: redis-data
          hostPath:
            path: /data/wisdon/redis
            type: DirectoryOrCreate
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: wisdon-frontend
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
