{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block nav %} 
<nav>
</nav>
{% endblock %}

{% block content %}
<section class="background">
    <div class="foreground">
        <br><br><br>
        <div class="banner">
            <div class="SmallText anitext"><b>Welcome to a 5G O-RAN project Management Website</b></div>
            <div class="BigText anitext"><b>WiSDON LAB</b></div>
        </div>
        <div class="login_block">
            <form method="post" action="{{ url_for('index') }}" style="display: inline-block;">
                <input type="hidden" name="next" value="/projects">
                <div class="input_row">
                    <label for="username" class="myspan">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <br><br>
                <div class="input_row">
                    <label for="password" class="myspan">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div style="text-align: right;">
                    <br>
                    <button type="submit" class="btn btn-primary mybtn" style="width: 90px;">Login</button>
                </div>
            </form>
            <div style="text-align: right; margin-top: 1em;">
                <span>New Friend? -></span>
                <span><a href="{{ url_for('register') }}">Register Here</a></span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
