{% extends "base.html" %}

{% block style %}
<!-- Mapbox -->
<link href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>
<!-- Threebox -->
<script src="https://cdn.jsdelivr.net/gh/jscastro76/threebox@v.2.2.7/dist/threebox.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/gh/jscastro76/threebox@v.2.2.7/dist/threebox.css" rel="stylesheet">
<!-- Turf -->
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@7/turf.min.js"></script>
<!-- css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/overview.css') }}">
{% endblock %}

{% block nav %} 
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('overview', PID=PID) }}">Overview</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuration
        </a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{{ url_for('gNB_config', PID=PID) }}">gNodeB</a></li>
            <li><a class="nav-link" href="{{ url_for('AI_config', PID=PID) }}">AI Models</a></li>
            <li><a class="nav-link" href="{{ url_for('evaluation', PID=PID) }}">Evaluation</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Performance
        </a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{{ url_for('performanceNES', PID=PID) }}">NES</a></li>
            <li><a class="nav-link" href="{{ url_for('performanceMRO', PID=PID) }}">MRO</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('edit', PID=PID) }}">Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('projects') }}">Projects List</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<section>
    <div id="renderContainer">
        <div id="mapContainer"></div>
        <div id="colorBarContainer" class="color-bar-container collapse">
            <div id="colorBar" class="rounded color-bar"></div>
            <div class="color-bar-label" id="colorBarMax" style="top: 0%">-55 dBm</div>
            <div class="color-bar-label" id="colorBarMin" style="top: 100%">-140 dBm</div>
        </div>
        <div class="rounded p-3" id="scenarioData">
            <div class="row">
                <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example" style="text-align: center;" id="scenarioSelect">
                        <option value="0">None</option>
                        <option value="1" {% if cur_scenario == '1' %}selected{% endif %}>上班</option>
                        <option value="3" {% if cur_scenario == '3' %}selected{% endif %}>下班</option>
                        <option value="2" {% if cur_scenario == '2' %}selected{% endif %}>上課1/隨機</option>
                        <option value="21" {% if cur_scenario == '21' %}selected{% endif %}>上課2/同步</option>
                        <option value="22" {% if cur_scenario == '22' %}selected{% endif %}>上課3/不同步</option>
                        <option value="111" {% if cur_scenario == '111' %}selected{% endif %}>LiveDemo</option>
                    </select>
                    <button class="btn btn-outline-primary" id="chooseScenario">Set</button>
                </div>
            </div>
            <div class="row">
                <div class="d-flex align-items-center justify-content-between">
                    <span id="scenarioType">No Simulation</span>
                    <button class="btn btn-danger" id="scenarioPause" style="display: none;">Pause</button>
                </div>
            </div>
        </div>
        <ul class="list-group no-select" id="optionsList">
            <li class="list-group-item d-flex align-items-center text-nowrap" data-bs-toggle="button" type="button" id="btnUE">
                
                <span>Project : </span>
                <span class="ms-3" id='project_name'>{{ project_name }}</span>
            </li>
            <li class="list-group-item d-flex align-items-center text-nowrap" data-bs-toggle="button" type="button" id="btnUE">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" style="margin-right: 0.5em">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
                <span>UE : </span>
                <span class="ms-3" id='ueNumber'>0</span>
            </li>
            <li class="list-group-item d-flex align-items-center text-nowrap" data-bs-toggle="button" type="button" id="btnRU">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-wifi" viewBox="0 0 16 16" style="margin-right: 0.5em">
                    <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.44 12.44 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.52.52 0 0 0 .668.05A11.45 11.45 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049"/>
                    <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z"/>
                </svg>
                RU : 
                <span class="ms-3" id='ruNumber'>{{ RU_number }}</span>
            </li>
            <li class="list-group-item pb-3">
                <div class="d-flex justify-content-center align-items-center mb-2">
                    <label class="form-check-label" for="heatmapSwitch">Heatmap</label>
                    <div class="form-switch ms-3">
                        <input class="form-check-input" type="checkbox" id="heatmapSwitch" disabled>
                    </div>
                </div>
                <select class="form-select" aria-label="Heatmap type selection" style="text-align: left;" id="heatmapTypeSelect">
                    <option value="1" selected>RSRP</option>
                    <option value="2">RSRP_DT</option>
                    <option value="3">Throughput</option>
                    <option value="4">Throughput_DT</option>
                </select>
            </li>
            <li class="list-group-item d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-primary mb-1" id="btnUpdateHeatmap">Update Heatmap</button>
                <label id="heatmapUpdateTime" style="font-size: small;">Last updated: </label>
            </li>
        </ul>
    </div>
</section>


<script>
    // Assign Flask's map_image to a global variable
    // const mapImage = "{{ map_image }}";
    var cur_scenario = "{{ cur_scenario }}";
    const modelData = {{ model_data|tojson }};
    const RUs = {{ RUs|tojson }};
</script>

<!-- Type 1 Heatmap -->
<script src="{{ url_for('static', filename='js/overview.js') }}" type="module"></script>
<!-- Type 2 Heatmap -->
<!-- <script src="{{ url_for('static', filename='js/extras/mapbox-gl-interpolate-heatmap.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/extras/map_test.js') }}" type="module"></script> -->
{% endblock %}