version: '3.1'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - .git
            - node_modules/
            - .next/
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: devdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    restart: unless-stopped
    volumes:
      - mysql_data:/var/lib/mysql
      - ./backend/DB_dump/server_dump.sql:/docker-entrypoint-initdb.d/init.sql
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: devdb
      DB_USERNAME: user
      DB_PASSWORD: password
    ports:
      - "8000:8000"
    depends_on: 
      - mysql

volumes:
  mysql_data:
    driver: local