#gridContainer {
    min-height: 82vh;
    padding: 1em 0;
    position: relative;
}
#sidebarContainer {
    background-color: #22252B;
    min-height: 77vh;
    max-height: 100%;
}
#responseContainer {
    background-color: #22252B;
    min-height: 77vh;
}
#modalLabel {
    padding: 0 1em;
}
.modalRow {
    padding: 0.5em 1em;
}
#title {
    font-size: xx-large;
    color: #CCCCDC;
}
.list-group-item {
    --bs-list-group-color: white;
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: white;
    transition: background-color 200ms ease-out;
}
.list-group-item.active {
    --bs-list-group-active-bg: #198754;
    --bs-list-group-active-border-color: white;
}