@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

div label {
    color: #000000;
    background-color: 0;
}
div.row
{
    padding: 10px 0;
}
#gridContainer {
    height: 100vh;
    position: relative;
    padding: 1em 0;
}
#mapInstructions {
    position: absolute;
    bottom: 8%;
    right: 1%;
    width: 18em; 
    opacity: 93%;
    color: black;
    background-color: white;
}
#mapContainer {
    height: 80vh;
    padding: 0;
    margin: 0;
}
.white-text {
    color: #ffffff;
}
#inputContainer {
    padding: 1em 1em;
}
.propertyInput {
    padding: 0 0 .5em;
}