.container {
    min-height: 82vh;
    padding: 1em 0;
    position: relative;
}

.accordion {
    --bs-accordion-btn-bg: #22252B;
    --bs-accordion-btn-color: #CCCCDC;
    --bs-accordion-border-width: 0;
    --bs-accordion-bg: #22252B;
    --bs-accordion-color: #CCCCDC;
    --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23CCCCDC'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    --bs-accordion-btn-focus-box-shadow: 0;
}

#configContainer {
    background-color: #22252B;
    max-height: 100%;
    position: relative;
}

#currentCase {
    font-size: xx-large;
    color: #CCCCDC;
    padding: 0.5em 1em;
}

.deviceOption {
    padding: 0.6em 2em;
}

.form-select {
    text-align: center;
}

/* Scrollbar */
#configContainer::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #22252B;
}

#configContainer::-webkit-scrollbar {
    width: 5px;
    background-color: #22252B;
}

#configContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #CCCCDC;
}
/* end */

.list-group-item {
    --bs-list-group-color: #CCCCDC;
    --bs-list-group-bg: 0;
    --bs-list-group-border-width: 0;
    --bs-list-group-item-padding-y: 0.5em;
    --bs-list-group-action-hover-color: #FFFFFF;
    --bs-list-group-action-hover-bg: 0;
    --bs-list-group-action-active-color: #FFFFFF;
    --bs-list-group-action-active-bg: 0;
    --bs-list-group-active-bg: 0;
}

#mapContainer { 
    height: 70vh;
    /* width: 100%; */
    margin: auto;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

#buttonContainer {
    position: absolute;
    bottom: 5%;
    right: 2%;
}

#buttonContainer > .btn {
    width: 100px;
}

#bigContainer {
    background-color: #22252B;
    min-height: 77vh;
    max-height: 100%;
    overflow-y: auto;
    z-index: -1;
}
.color-bar-container {
    position: absolute;
    right: 1%;
    top: 5%;
    width: 30px; /* Increased width to accommodate labels */
    height: 200px;
}

.color-bar {
    width: 15px;
    height: 100%;
    background: linear-gradient(to top, blue, green, yellow, red);
    border: 1px solid #000000;
    float: right;
}

.color-bar-label {
    position: absolute;
    right: 28px; /* Adjust this value based on the width of your color-bar-container */
    font-size: 14px;
    transform: translateY(-50%);
    color: #000000;
    white-space: nowrap;
}
