footer {
    height: 6%;
    width: 100%;
    /* clear: both; */
    /* padding: 50px 0; */
    /*for 置底*/
    color: #000000;
    background-color:#D9D9D9;

    /*for 置中*/
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul{
    list-style: none;
    margin: auto;
    display: inline-flex;
}
footer li{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 5px #000000 solid;
}
footer li a{
    font-size:21px;
    color: #000000;
    text-decoration:none;
}
