/* a input row, like "account [     ]"
Usage (or refer to register.html):
<div class="input_row">
    <span class="myspan">Password</span>
    <input type="password"/>
</div>

*/
.input_row {
    display: inline; 
    margin: 0px auto;
    text-align: center;
}

.input_row .myspan {
    display: inline-block; 
    margin: 0px auto;
    text-align: left; 
    width: 200px;
    font-size: 21px;
}

.input_row input {
    width: 200px;
    height: 35px;
}

/*buttom
Usage (or refer to register.html): 
<div style="text-align: center;">
    <br/>
    <button type="button" class="btn btn-primary"  style="width: 90px;">Register</button>
    <span style="width: 90px; display: inline-block;"></span>
    <button type="button" class="btn btn-danger"  style="width: 90px;">Cancel</button>
</div>
*/

.mybtn {
    font-size: 19px;
    width: 95px;
}
