#renderContainer {
    height: 82vh;
    position: relative;
}

#mapContainer {
    height: 100%;
    width: 100%;
}

#optionsList {
    position: absolute;
    right: 1%;
    bottom: 6%;
    height: 270px;
    width: 190px;
    opacity: 93%;
}

.ruPopup {
    color: #000;
}

.list-group-item.active {
    --bs-list-group-active-bg: #d0d3d4;
    --bs-list-group-active-border-color: transparent;
}

#scenarioData{
    position: absolute;
    top: 3%;
    left: 1%;
    width: 300px;
    opacity: 93%;
    color: black;
    background-color: white;
}

.color-bar-container {
    position: absolute;
    right: 220px;
    bottom: 6%;
    width: 30px; /* Increased width to accommodate labels */
    height: 270px;
}

.color-bar {
    width: 20px;
    height: 100%;
    background: linear-gradient(to top, blue, green, yellow, red);
    border: 1px solid #000000;
    float: right;
}

.color-bar-label {
    position: absolute;
    right: 28px; /* Adjust this value based on the width of your color-bar-container */
    font-size: 14px;
    transform: translateY(-50%);
    color: #000000;
    white-space: nowrap;
}
