#gridContainer {
    min-height: 100%;
    padding: 1em 2em 0;
}

#sidebar {
    height: 77.5vh;
}

#pageTitle {
    font-size: 2em;
    white-space: nowrap;
}

#projectsList {
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
}

.list-group-item {
    --bs-list-group-color: #CCCCDC;
    --bs-list-group-bg: #22252B;
    --bs-list-group-border-width: 0;
    --bs-list-group-item-padding-y: 0.5em;
    --bs-list-group-action-hover-color: #000000;
    --bs-list-group-action-hover-bg: #CCCCDC;
    --bs-list-group-action-active-color: #000000;
    --bs-list-group-action-active-bg: #CCCCDC;
    --bs-list-group-active-color: #000000;
    --bs-list-group-active-bg: #CCCCDC;
    font-size: 19px;
}

/* Scrollbar */
#projectsList::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #22252B;
}

#projectsList::-webkit-scrollbar {
    width: 5px;
    background-color: #22252B;
}

#projectsList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #CCCCDC;
}
/* end */
