apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: wisdon-frontend
  labels:
    app: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 3000
      nodePort: 30080
